Backup/
Books/
Distr/
Music/
Repos/
Videos/
Downloads/
Private/
Dropbox/
.zsh_history
.zcompdump
.xsession*
.xmonad/
!.xmonad/xmonad.hs
.wine/
.trc
.texlive/
.viminfo
.qpsrc
.subversion/
.xscreensaver
.sane/
.pulse/
.pulse-cookie
.pki/
.p7zip
.mpd/
!.mpd/mpd.conf
.omz/
.mpdscribble/
.minecraft/
.java/
.icedtea/
.gstreamer-0.10/
.ICEauthority
.adobe/
.audacity-data/
.cabal/
.cups/
.dbus/
.designer/
.esd_auth
.fontconfig/
.gem/
.ghc/
.gimp-2.6/
.gnupg/
.gpg-agent-info
.macromedia/
.dropbox/
.Xauthority
.cache/
.config/transmission
!.config/transmission/settings.json
.config/libimobiledevice
.config/evince
.config/chromium
.config/Trolltech
.config/Trolltech.conf
.config/Nokia
.config/vlc
.gimp-2.8
.gtk-bookmarks
