*.swp
Backup/
Books/
Distr/
Music/
Repos/
Videos/
Downloads/
Private/
Dropbox/
GDrive/
.zsh_history
.zcompdump
.xsession*
.wine/
.trc
.texlive/
.viminfo
.qpsrc
.subversion/
.xscreensaver
.sane/
.pulse/
.pulse-cookie
.pki/
.p7zip
.omz/
.mpdscribble/
.minecraft/
.java/
.icedtea/
.gstreamer-0.10/
.ICEauthority
.adobe/
.audacity-data/
.cabal/
.cups/
.dbus/
.designer/
.esd_auth
.fontconfig/
.gem/
.ghc/
.gimp-2.6/
.gnupg/
.gpg-agent-info
.macromedia/
.dropbox/
.Xauthority
.cache
.cache-backup_asd
.gimp-2.8
.gtk-bookmarks
.ssh/
.local/
.workspace/
.lesshst
.lolcommits/
.mplayer/
.swt/
.gksu.lock
.gnome/
.grive
.gervill/
.gconf/
.eclipse/
.easytag/
.desura/
.android/
.android-sdks/
.mozilla/
.jgtasks-cache/
.jgtasks-credentials
.ArobasMusic/
.bin/
.cloudprintauth
.Skype
.nv/
.nvidia-settings-rc
.avidemux/
.xchm
.VirtualBox/
VirtualBox VMs/
FTL/
.lftp
.xsel.log
.darcs/
.dosbox/
.dynamitejack/
.geeknote/
.lgp/
.log/
.loki/
.polynomial
.steam*
.thumbnails/
.towns/
.tuxguitar*/
.vegastrike/
.wine
.fgfs/
.oh-my-zsh/
.vim/
.vimbundle/
.vimperator/
Audiobooks/
Desktop/
KONAMI/
Scores/
SparkleShare/
