[color]
   ui = auto
[user]
	name = Alexander Shabalin
	email = shabalyn.a@gmail.com
[alias]
   c = commit -a
   p = push origin
   s = status
   l = log --oneline --graph --color=never
	dt = difftool
   d = diff --color=never
[diff]
	tool = vimdiff
[difftool]
	prompt = false
