/boot
!/boot/grub/grub.cfg
/bin
/dev
/sys
/lib
/lib64
/opt
/proc
/run
/sbin
/tmp
/var
/etc/acpi/actions
/etc/acpi/events
/etc/ConsoleKit
/etc/ImageMagick
/etc/NetworkManager
!/etc/NetworkManager/NetworkManager.conf
/etc/X11
/etc/adobe
/etc/apm
/etc/arch-release
/etc/avahi
/etc/bash*
/etc/ca*
/etc/chromium
/etc/colord.conf
/etc/conky
/etc/cron*
/etc/crypttab
/etc/wpa_supplicant.conf
/etc/xinetd.d
/etc/xdg
/etc/udev
/etc/trusted-key.key
/etc/systemd/system/*.wants
/etc/systemd/system/dbus*.service
/etc/vimrc
/etc/texmf
/etc/sudoers
/etc/slp*
/etc/shadow*
/etc/passwd*
/etc/pm
/etc/power
/etc/pkcs11
/etc/gshadow*
/etc/grub/
/etc/securetty
/etc/shells
/etc/ssl
/etc/ssh
!/etc/ssh/sshd_config
!/etc/ssh/ssh_config
/etc/skel
/etc/services
/etc/sane.d
/etc/resolv.conf
/etc/rpc
/etc/request-key.conf
/etc/mtab*
/etc/mpd.conf
/etc/motd
/etc/pacman.d
/etc/rc*
/etc/pulse
!/etc/pulse/client.conf
!/etc/pulse/daemon.conf
/etc/security
/etc/profile.d
/etc/profile
/etc/pam.d
/etc/laptop-mode
!/etc/laptop-mode.conf
/etc/protocols
/etc/grub.d
/etc/group*
/etc/ppp
/etc/polkit-1
/etc/openldap
/etc/os-release
/etc/openal
/etc/nsswitch.conf
/etc/nscd.conf
/etc/netconfig
/etc/mkinitcpio.d
/etc/mke2fs.conf
/etc/man_db.conf
/etc/machine-id
/etc/logrotate.d
/etc/login.defs
/etc/localtime
/etc/locale.gen
/etc/krb5.conf
/etc/libao.conf
/etc/dhcpcd.conf
/etc/environment
/etc/fonts
/etc/fstab
/etc/hostname
/etc/libnl
/etc/issue
/etc/default
/etc/fuse.conf
/etc/fcron
/etc/gai.conf
/etc/gemrc
/etc/gimp
/etc/gtk-*
/etc/gssapi_mech.conf
/etc/gdb
/etc/hosts
/etc/host.conf
/etc/iproute2
/etc/ld.so*
