Trolltech/
Trolltech.conf
libimobiledevice/
evince/
chromium
chromium-backup_asd/
Nokia/
vlc/
Arobas Music/
autostart/
gtk-2.0/
dconf/
google-musicmanager/
menus/
rncbc.org
Kitware/
vmpk.sourceforge.net/
PianoBooster/
Skype/
gtk-3.0/
htop/
jack/
kcachegrind.sf.net/
spek/
pulse/
pavucontrol.ini
unity3d/
sparkleshare/
EgoSoft/
Puddle
easytag
quassel-irc.org/
keepassx/
dwb/
QtProject/
QtProject.conf
AndroidStudioPreview/
IdeaIC/
gimp/
sublime-text-2/
