[Unit]
Description=Window manager
After=xorg.target
Requires=xorg.target
Wants=mystuff.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
