[Unit]
Description=xmonad
After=xorg.target
After=dbus.service

[Service]
Environment=DISPLAY=:0
ExecStart=/home/projedi/.cabal/bin/xmonad
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
