ConsoleKit/
ImageMagick/
X11/
adobe/
apm/
arch-release
avahi/
bash*
ca*
chromium/
colord.conf
conky/
cron*
crypttab
wpa_supplicant/
xinetd.d/
xdg/
udev/
trusted-key.key
vimrc
texmf/
sudoers
slp*
shadow*
passwd*
pm/
power/
pkcs11
gshadow*
securetty
shells
ssl/
skel/
services
sane.d/
resolv.conf
rpc
request-key.conf
mtab*
mpd.conf
motd
pacman.d/
rc*
security/
profile.d/
profile
pam.d
protocols
grub.d/
group*
ppp/
polkit-1/
openldap/
os-release
openal/
nsswitch.conf
nscd.conf
netconfig
mkinitcpio.d/
mke2fs.conf
man_db.conf
machine-id
logrotate.d/
login.defs
localtime
locale.gen
krb5.conf
libao.conf
dhcpcd.conf
environment
fonts/
fstab
hostname
libnl/
issue
default/
fuse.conf
fcron
gai.conf
gemrc
gimp/
gtk-*
gssapi_mech.conf
host.conf
iproute2/
ld.so*
printcap
sysctl.conf
dbus-1/
cups/
conf.d/
cloudprint.conf
cpufreq-bench.conf
dhcpd.conf
gconf/
hosts
irman.conf
adjtime
java-7-openjdk/
mercurial/
mime.types
mplayer/
odbc.ini
odbcinst.ini
OpenCL/
xml/
ifplugd/
iftab
network.d/
