[Unit]
Description=DynDNS client
Requires=NetworkManager.service

[Service]
ExecStart=/usr/sbin/ddclient -foreground

[Install]
WantedBy=multi-user.target
