[Unit]
Description=JACK Audio Connection Kit server
After=jack.service

[Service]
User=projedi
ExecStart=/usr/bin/fluidsynth -a jack -m alsa_seq -isj

[Install]
WantedBy=multi-user.target
