[Unit]
Description=Music Player Daemon
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
User=projedi
ExecStart=/usr/bin/mpd --no-daemon

[Install]
WantedBy=multi-user.target
