[Unit]
Description=Music Player Daemon
After=sound.target

[Service]
User=projedi
ExecStart=/usr/bin/mpd --no-daemon /home/projedi/.config/mpd.conf

[Install]
WantedBy=multi-user.target
