[Unit]
Description=Music Player Daemon
After=network.target sound.target asd.service

[Service]
User=projedi
ExecStart=/usr/bin/mpd --no-daemon /home/projedi/.config/mpd.conf

[Install]
WantedBy=multi-user.target
