[Unit]
Description=Scrobbler for MPD
Requires=mpd.service networkmanager.service

[Service]
User=projedi
ExecStart=/usr/bin/mpdscribble -D

[Install]
WantedBy=multi-user.target
