[Unit]
Description=Scrobbler for MPD
After=mpd.service

[Service]
User=projedi
ExecStart=/usr/bin/mpdscribble --no-daemon --conf /home/projedi/.config/mpdscribble.conf

[Install]
WantedBy=multi-user.target
