[Unit]
Description=Transmission client
Requires=NetworkManager.service

[Service]
User=projedi
ExecStart=/usr/bin/transmission-daemon -g /home/projedi/.config/transmission -f
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
