[Unit]
Description=Transmission BitTorrent Daemon

[Service]
User=projedi
Type=notify
ExecStart=/usr/bin/transmission-daemon -g /home/projedi/.config/transmission -f --log-error

[Install]
WantedBy=multi-user.target
