[Unit]
Description=Very Secure FTP Daemon
Requires=NetworkManager.service

[Service]
ExecStart=/usr/sbin/vsftpd
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
